html
body
  margin: 0

body
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-overflow-scrolling: touch
  -webkit-touch-callout: none
  text-size-adjust: 100%
  font-smooth: antialiased
  user-select: none
  overflow-wrap: break-word
  word-wrap:     break-word

article
  user-select: text

  IMG
  table
    max-width: 100%
    margin-left: auto
    margin-right: auto

  th
  td
    border-radius: 3px
    padding:   0px 4px

// img baseline make needless margin at bottom.
IMG
  vertical-align: bottom

IMG.hide
  filter: sepia(60%) hue-rotate(180deg);

.page_active
.page_active-bg
  min-height: 100vh

.summary
.sideframe
.writeframe
.center-left
.center-right
  pointer-events: none

.editframe
.inframe
  pointer-events: auto

.chat
  box-sizing: border-box
  display: block

.summary
  .swipe
    td
    th
      padding: 0

.mermaid
.swipe
  overflow-y: hidden
  overflow-x: scroll
  -ms-overflow-style: none
  &::-webkit-scrollbar
    display:none;

  table
    border-collapse: collapse
  td
  th
    margin:  0
    white-space: nowrap
    vertical-align: center

.fullframe
  margin: 0
  margin-left: "calc(50% - %s)" % 45vw
  width: 90vw

.chrblank
  background: #444844
  color:      #CCF
  margin: 0 auto
  p
    text-align:  center
    white-space: nowrap

.swipe
  .portrate
    max-width: 45px
    width:     45px
    background-color: black

    IMG
      max-height: 65px
      height:     65px
      max-width: 45px
      width:     45px
    IMG + .chrblank
      margin: 0.5px 0.5px 2px 0.5px
      padding: 0

    .chrblank
      max-width:    44px
      width:        44px
      border-radius: 4px

.fullframe,
.contentframe
  .portrate
    max-width:   90px
    width:       90px
    background-color: black

    IMG
      max-height: 130px
      height:     130px
      max-width: 90px
      width:     90px
    IMG + .chrblank
      margin: 1px 1px 3px 1px
      padding: 0

    .chrblank
      max-width:    88px
      width:        88px
      border-radius: 9px


.summary
.inframe
.outframe
.fullframe
.contentframe
  box-sizing: content-box

.writeframe
.outframe
  margin: 0 auto

.center-left
.center-right
  position: fixed
  top:  50vh
  width: 4vw
  border-bottom-width: 3px
  border-bottom-style: solid

.center-left
  left:   0

.center-right
  right:   0

.summary
.editframe
.sideframe
.writeframe
  position: fixed
  overflow-y: auto
  z-index: 10
  &:hover
    z-index: 30

.contentframe
  .inframe
    padding: 10px 0

.writeframe
  top: 0
  box-sizing: content-box
  .contentframe
    background-attachment: scroll

.summary
  left:   0
  bottom: 0
  overflow-x: hidden

.sideframe
  right:  0
  bottom: 0
  overflow-x: visible

.editframe
  right: 0
  top:  0
  overflow-x: hidden

.sideframe
  .icons
    width: 50px
    margin: 0 2px 6px auto
    overflow: hidden

    display: flex
    flex-direction: column
    flex-wrap:      nowrap
    align-items:     center
    align-content:   space-around
    justify-content: space-around

    .item
      box-sizing: content-box
      flex-basis: auto
      text-align: center
      width:     40px
      height:    60px
      font-size: 40px
      border-radius: 5px
    .fa
      margin: 10px auto
    .mdi::before
      margin: 18px auto


.post
  padding-right: 12px
  margin 0 0 6px 7px
  border-style: solid none solid solid
  border-width: 2px 0 2px 18px

.report
  border-style: double dotted
  border-width: 4px 1px
  margin: 0 -10px 6px -10px
  padding: 1px 8px 1px 10px
  .name
    margin-right: 13px
  .date
    margin-right: 13px

.contentframe
  .chat
    z-index:  2

  .post
    margin 0 0 6px 107px
    // box-shadow: inset -30px 0px 45px -38px #222
    // 罫線にshadowが乗らない。

  .baloon
    z-index: 1
    position: absolute
    content: ''
    width:  0
    height: 0
    top:   60px
    left:  -6px
    border-style: solid
    border-width:  6px
    border-radius: 6px 0 0 6px
    border-right-width 1px

  .report
    position: relative

    &::before
    &::after
      top: -8px
      content: ""
      position: absolute
      border-style: solid
      border-width: 1px
      border-top-color: transparent
      background-color: transparent

    &::before
      border-width: 4px 8px 0 0
      left: 0

    &::after
      border-width: 4px 0 0 8px
      right: 0

  .talk
    width: 100%
    table-layout: fixed
    border-collapse: collapse
    border-spacing:  0
    margin: 0 0 6px 0

  .talk > thead
  .talk > tfoot
  .talk > tbody
  .talk > tbody > tr
  .talk > tbody > tr > td
  .talk > tbody > tr > th
  .talk > tbody > tr > th > .portrate
    border:  0
    padding: 0
    background: transparent
  .talk > tbody > tr > td
    vertical-align: middle
    position: relative
  .talk > tbody > tr > th
    width: 125px
    vertical-align: top
  .talk > tbody > tr > th > .portrate
    margin:  0 19px 0 16px
