
body
  line-height:     1.5em

[data-ruby]
    line-height:   2.1em

[data-ruby]:before
    top:          -1.0rem
    font-size:     0.5rem

input
select
button
[href]
[cite]
.btn
  line-height:     1.7em

.fine
.date
  line-height:     1.2em

.chrblank
.chrblank a
.chrblank p
.chrblank time
  line-height:     1.1em

.potofs.fine
  line-height:     1.1em

sup
  vertical-align:  0.5rem
  line-height:     1.1em

sub
  vertical-align: -0.5rem
  line-height:     1.1em

h1, h2, h3, h4, h5, h6
  line-height:     1.0em
