
body
  line-height: 1.5em

[data-ruby]
  line-height: 2.1em

[data-ruby]:before
  top:        -1.2rem
  font-size:   0.5rem

article
.links
.text
.chat
textarea
button
dfn
p
  font-size: 1.0rem

[title]
[data-tooltip]
  &:after
    font-size: 1.0rem

input
select
button
[href]
[cite]
.btn
  line-height: 1.7em

.fine
.date
  line-height: 1.2em

.chrblank
.chrblank a
.chrblank p
.chrblank time
  line-height: 1.1em

.potofs.fine
  line-height: 1.1em

sup
  vertical-align:  0.5rem
  line-height: 1.1em

sub
  vertical-align: -0.5rem
  line-height: 1.1em

h1, h2, h3, h4, h5, h6
  line-height: 1.0em

.ql-picker-item[data-value="1"]::before
h1
  font-size: 2.50rem
.ql-picker-item[data-value="2"]::before
h2
  font-size: 1.88rem
.ql-picker-item[data-value="3"]::before
h3
  font-size: 1.50rem
.ql-picker-item[data-value="4"]::before
h4
  font-size: 1.25rem
.ql-picker-item[data-value="5"]::before
h5
  font-size: 1.00rem
.ql-picker-item[data-value="6"]::before
h6
  font-size: 0.83rem
