
html
body
  line-height: 1.5em

[data-ruby]
  line-height: 2.1em

input
select
button
[href]
[cite]
.btn
  line-height: 1.7em

.fine
.date
  line-height: 1.2em

sup
sub
.potofs.fine
.chrblank
.chrblank a
.chrblank p
.chrblank time
  line-height: 1.1em

h1, h2, h3, h4, h5, h6
  line-height: 1.0em
