body
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-overflow-scrolling: touch
  -webkit-touch-callout: none
  text-size-adjust: 100%
  user-select: none
  overflow-wrap: break-word
  word-wrap:     break-word
  font-variant-numeric: tabular-nums
  font-feature-settings: "palt"
  font-smooth: antialiased
  font-kerning: normal

rt
  text-shadow: none
  font-variant-east-asian: ruby full-width simplified

strong
  -webkit-text-emphasis: sesame
  text-emphasis: sesame

abbr[title]
del
  text-decoration: none

em
  font-style: normal

s
  text-decoration-style: double
ins
  text-decoration-style: wavy

textarea
.text
  text-align: start

tt
code
kbd
samp
pre
.chat .text.mono
  font-weight: 400
  font-family: 'Fira Code', 'Fira Code WEB', 'Noto Sans Mono CJK JP', 'Mgen+ 1mn', 'mplus-1m', monospace
  font-variant-numeric: tabular-nums slashed-zero
  font-feature-settings: "halt"

select
[cite]
[abbr]
[title]
  font-weight: 400
  font-family: 'Noto Sans CJK JP', 'Noto Sans JP', sans-serif

.btn
[href]
  sup, sub, .badge
    font-weight: 700
    font-family: 'Noto Sans CJK JP', 'Noto Sans JP', sans-serif

h1, h2, h3, h4, h5, h6
button
.bold
.chat .text.head:first-line
  font-weight: 700
  font-family: 'Noto Sans CJK JP', 'Noto Sans JP', sans-serif

hr
  clear: both
  display: block
  height:  0
  margin:  0
  margin-before: 0
  margin-after:  0
  border: none

hr:before
hr:after
  content: ""
  clear: both
  display: block
  margin:  0
  padding: 0
  height: 1px

hr:before
  border-style: solid none none none
  border-width: 1px 0 0 0

hr:after
  border-style: none none dashed none
  border-width: 0 0 1px 0

hr.invisible_hr
  display: none

[cite]
  white-space: nowrap
  b
    margin-left: -1ex
    transform: scale( 0.5, 1)
    transform-origin: right

h1, h2, h3, h4, h5, h6
  box-sizing: border-box
  display: block
  transform: scale( 1, 0.8)
  transform-origin: center center
  margin: 0

b
p
  margin:  0
  padding: 0

blockquote
  margin: 0
  padding: 0  0.5ex 0  0.5ex
  border-style: none solid none solid
  border-width: 0 0.5ex 0 0.5ex

li
  margin:  0
  padding: 0

ol, ul
  margin:  0
  padding: 0 0 0 4ex
ul
  list-style-type: circle
ol
  list-style-type: decimal

strong
  display: inline

code
  max-width: 100%
  pre
    max-width: 100%


pre
  margin: 0 -2px
  white-space: pre-wrap

  code.lang-copyright
    background-image: none
    background-color: ivory
    color: #A00
    text-align: left

a
b
em
abbr
strong
kbd
code
time
select
button
time
  border-width: 0

thead tr
tbody tr
th
td
  border-radius: 9px

thead tr
  border-style: solid
th
  border-style: dashed
  border-width: 2px

q:not([title]):before
q:not([title]):after
  content: ''

input[type=time]
input[type=number]

.right
.r
  text-align: right

.left
.l
  text-align: left

.center
.c
  text-align: center

.mini
  width: 3em

input[type=time]
  width: 5em

.btns
  text-align: center
  span
    margin: 0 6px

.tb-btn
  a
  button
  .btn
    writing-mode: tb-rl
    sup
    sub
    .badge
      writing-mode: lr-tb
      float: inline-end

article
.text
  cursor: text
  user-select: text

label
abbr
[href]
[cite]
.btn
.label
  cursor: pointer
  user-select: auto

a
  text-decoration: none

input[type=time]
input[type=number]
input[type=checkbox]
input[type=radio]
input[type=color]
input[type=submit]
input[type=button]
input[type=image]
input[type=reset]
[href]
[cite]
a
b
abbr
kbd
code
time
select
button
textarea
fieldset
.btn
  display: inline-block
  box-sizing: border-box
  text-rendering: auto
  align-items: flex-start

q
  border-radius: 9px

input[type=time]
input[type=number]
input[type=checkbox]
input[type=radio]
input[type=color]
input[type=submit]
input[type=button]
input[type=image]
input[type=reset]
[href]
a
abbr
kbd
code
time
select
button
textarea
fieldset
.note
.btn
  border-radius: 9px
  border-style: solid

textarea
  border: 2px solid

input
select
button
[href]
.btn
  border: 2px solid
  .date &
    border: 0

  .focus &
    border-radius: 3px
    transition-property: border-radius, border-color
    transition-duration: 1s

  &:hover
    border-radius: 3px
    animation: border-hover .4s ease-in-out infinite normal

  &:focus
    animation: border-hover  1s ease-in-out infinite normal

input
select
button
textarea
  user-select: auto
  padding: 4px

.pull-left
  float: left
.pull-right
  float: right

span
  display: inline-block

.banner
  white-space: pre
  div
    border-radius: 5px
    article
      overflow: hidden

legend
  border-radius: 3em
  padding: 1px 6px
  text-shadow: none

.label
label
abbr
  border-radius: 3em
  padding: 1px 0.4ex
  margin:  0   0.1ex
  text-align: center
  text-shadow: none

.name
.btn
[href]
  sup
  sub
  .badge
    border-radius: 3em
    padding: 0   0.4ex
    margin: -1px 0.1ex
    text-align: center
    text-shadow: none

.form
  a
  abbr
  button
  [href]
  .btn
    min-width:  30px
    min-height: 36px
    vertical-align: middle

kbd
code
pre
  padding: 1px 0.4ex
  margin:  0px 0.1ex



input
select
button
[href]
[cite]
.btn
  padding: 1px 0.4ex
  margin:  0px 0.1ex

  form &
    padding: 1px 0.4ex
    margin:  3px 0.1ex
  
  .sideframe .icons &
    padding: 0.4ex 1px
    margin:  0.1ex 0px

sup
  vertical-align: super
  display: inline-block
  text-align: center

sub
  vertical-align: sub
  display: inline-block
  text-align: center

// SVG section
rect.move
.move > rect
  stroke-width: 1px
  fill: none

rect.cluster
.cluster > rect
  stroke-width: 3px
  fill: none

rect.icon
.icon > rect

rect.point
.point > rect
  fill: none
  stroke: none

rect.box
.box > rect
  fill: black
  stroke: black

.edgePath
  > path.path
    fill: none
    &.hide
      stroke: none
      stroke-width: 0
    &.wide
      stroke-width: 6px
    &.solid
      stroke-width: 3px
    &.dotted
      stroke-width: 3px
      stroke-dasharray: 3px, 6px

#svg-marker-arrow-end > path
#svg-marker-arrow-start > path
  stroke-width: 1px
  stroke-dasharray: 1px, 0
#svg-marker-cross > path
  stroke-width: 2px
  stroke-dasharray: 1px, 0
