hr
  clear: both
  display: block
  height:  0
  margin:  0
  margin-before: 0
  margin-after:  0
  border: none

hr:before
hr:after
  content: ""
  clear: both
  display: block
  margin:  0
  padding: 0
  height: 1px

hr:before
  border-style: solid none none none
  border-width: 1px 0 0 0

hr:after
  border-style: none none dashed none
  border-width: 0 0 1px 0

h1, h2, h3, h4, h5, h6
  box-sizing: border-box
  display: block
  transform: scale( 1, 0.8)
  transform-origin: center center
  margin: 0

p
  margin: 0

blockquote
  margin: 0
  padding: 0  0.5ex 0  0.5ex
  border-style: none solid none solid
  border-width: 0 0.5ex 0 0.5ex

li
  margin:  0
  padding: 0

ol, ul
  margin:  0
  padding: 0 0 0 4ex
ul
  list-style-type: circle
ol
  list-style-type: decimal

rt
  text-shadow: none
  border-radius: 3em
  padding: 0 4px

sup.note
  font-weight: bold

s
  text-decoration-style: wavy

strong
  -webkit-text-emphasis: sesame
  text-emphasis: sesame
  display: inline

[title]
[cite]
  border-style: solid
  border-width: 2px

pre
  font-family: monospace
  margin: 0 -4px
  white-space: pre-wrap
  overflow-y: visible
  overflow-x: auto
  text-overflow: show

a
b
em
abbr
strong
kbd
code
time
select
button
time
  border-width: 0

ins
  text-decoration-style: wavy

strong
del
th
em
b
  font-style: normal
  font-weight: normal
  text-decoration: none

thead tr
tbody tr
th
td
  border-radius: 3px

thead tr
  border-style: solid
th
  border-style: dashed
  border-width: 2px

q:not([title]):before
q:not([title]):after
  content: ''

input[type=time]
input[type=number]

.right
.r
  text-align: right

.left
.l
  text-align: left

.center
.c
  text-align: center

.mini
  width: 3em

input[type=time]
  width: 5em

.btns
  text-align: center
  span
    margin: 0 6px

.form
  abbr
  a
  button
  [href]
    min-width:  30px
    min-height: 36px
    vertical-align: middle

.tb-btn
  a
  button
  .btn
    writing-mode: tb-rl

input[type=time]
input[type=number]
input[type=checkbox]
input[type=radio]
input[type=color]
input[type=submit]
input[type=button]
input[type=image]
input[type=reset]
[href]
[cite]
[title]
[chat_id]
a
b
abbr
kbd
code
time
select
button
textarea
.btn
  display: inline-block
  box-sizing: border-box
  text-decoration: none
  padding:   2px
  border-radius: 5px
  border-style: solid
  align-items: flex-start
  cursor: hand

  text-rendering: auto

/*
  user-select: none
  vertical-align: baseline
  letter-spacing: normal
  word-spacing: normal
  text-transform: none
  text-shadow:    none
  text-indent: 0px
 */

input
select
button
textarea
.btn
[href]
[cite]
  border: 2px solid

  .date &
    border: 0

  .focus &
    border-radius: 0
    transition-property: border-radius, border-color
    transition-duration: 1s

  &:hover
  &:focus
    border: 2px dashed

  &:hover
    border-radius: 0
    animation: border-hover .4s ease-in-out infinite normal

  &:focus
    animation: border-hover  1s ease-in-out infinite normal

input
select
button
textarea
  user-select: auto
  padding: 4px

.pull-left
  float: left
.pull-right
  float: right

span
  display: inline-block

label
abbr
  border-radius: 3em
  padding: 1px 6px
  text-align: center
  text-shadow: none

.name
.btn
[href]
  sup
  sub
    border-radius: 3em
    padding: 1px 6px
    text-align: center
    text-shadow: none

sup
sub
  display: inline-block
  text-align: center

// SVG section

.edgePath 
  > path.path.hide
    stroke: none
    stroke-width: 0

  > path.path.wide
    stroke-width: 6px

  > path.path.solid
    stroke-width: 3px

  > path.path.dotted
    stroke-width: 3px
    stroke-dasharray: 3px, 6px


#svg-marker-arrow > path
  stroke-width: 1px
  stroke-dasharray: 1px, 0
#svg-marker-cross > path
  stroke-width: 2px
  stroke-dasharray: 1px, 0

rect.icon
  fill:   black
  stroke: black
rect.cluster
  stroke-width: 3px

text.messageText
  text-anchor: middle