themes = {
  friends: {
    LONE:   F9
    LOVE:   F8
    GRAVE:  F7
    VGRAVE: F6
    FOAM:   F5 FSAY
    ELSE:   F4
    MUPET:  F3 XSAY
    BROAD:  F2
    MOB:    F1 LSAY
    WOLF:   F0 WSAY
  }
  yelp: {
    LONE:   Y9
    LOVE:   Y8
    GRAVE:  Y7 GSAY
    VGRAVE: Y6 VGSAY
    FOAM:   Y5
    ELSE:   Y4
    MUPET:  Y3
    BROAD:  Y2 SSAY MSAY
    MOB:    Y1 VSSAY
    WOLF:   Y0
  }
  whisper: {
    LONE:   W9
    LOVE:   W8 
    GRAVE:  W7
    VGRAVE: W6 GAIM
    FOAM:   W5
    ELSE:   W4 ELSE
    MUPET:  W3 
    BROAD:  W2 AIM
    MOB:    W1 PSAY
    WOLF:   W0
  }
  twitter: {
    LONE:   T9
    LOVE:   T8
    GRAVE:  T7
    VGRAVE: T6 
    FOAM:   T5 HSAY
    ELSE:   T4
    MUPET:  T3 hide
    BROAD:  T2
    MOB:    T1 TSAY private
    WOLF:   T0
  }
  announce: {
    LONE:   A9
    LOVE:   A8
    GRAVE:  A7
    VGRAVE: A6 
    FOAM:   A5
    ELSE:   A4
    MUPET:  A3
    BROAD:  A2 public
    MOB:    A1
    WOLF:   A0
  }
  world: {
    LONE:   O9
    LOVE:   O8 ADMIN
    GRAVE:  O7 
    VGRAVE: O6 TITLE
    FOAM:   O5
    ELSE:   O4 MAKER
    MUPET:  O3
    BROAD:  O2
    MOB:    O1
    WOLF:   O0
  }

  stat: {
    LONE:   LONEWOLF
    LOVE:   LOVER
    GRAVE:  executed
    FOAM:   HATER
    ELSE:   PIXI GURU
    MUPET:  EVIL
    BROAD:  HUMAN live juror
    MOB:    NONE DISH MOB mob visiter grave alive
    WOLF:   WOLF suicide victim cursed feared droop
  }
  leave: {
    VGRAVE: DEL_M
    BROAD:  DEL_S
    MUPET:  suddendead leave
  }
  grass: {
    BROAD:  title-bar
  }
  metal: {
    ELSE:   welcome-links
    MUPET:  progress
    MOB:    prologue
  }
  ash: {
    ELSE:   BRONZE footer header
    BROAD:  btns chrblank
    FOAM:   welcome-btns
  }
}


hues = {
  LONE:   326deg // 赤紫
  LOVE:   285deg // 紫
  GRAVE:  231deg // 青紫
  VGRAVE: 192deg // 青
  FOAM:   174deg // 青緑
  ELSE:   140deg // 緑
  MUPET:   87deg // 黄緑
  BROAD:   49deg // 黄
  MOB:     27deg // 橙
  WOLF:   359deg // 赤
}

hues_d = {
  LONE:   30deg // 赤紫
  LOVE:   50deg // 紫
  GRAVE:  56deg // 青紫
  VGRAVE: 20deg // 青
  FOAM:   15deg // 青緑
  ELSE:   51deg // 緑
  MUPET:  52deg // 黄緑
  BROAD:  22deg // 黄
  MOB:    19deg // 橙
  WOLF:   36deg // 赤
}

$bgs   = {}
$btns  = {}
$pens  = {}
$lines = {}
$bolds = {}
$edges = {}
init()
  for key, _ in themes.friends
    _HH = hues[key]
    unless _HH
      error(join(" ", key, _HH))
    _dd = hues_d[key]
    unless _dd
      error(join(" ", key, _dd))
    _HB = _HH + 0.25 * _dd
    _HP = _HH + 0.50 * _dd
    _HN = _HH - 0.50 * _dd

    $btns[ 'G' + key] = HSYA(_HP,75%,33%,0.5) HSYA(_HP,75%,33%,0.5)
    $bgs[  'G' + key] = HSYA(_HH,75%,30%,0.5) HSYA(_HH,75%,30%,0.5)
    $edges['G' + key] = HSYA(_HH,66%,40%,0.5) HSYA(_HH,66%,40%,0.5)
    $pens[ 'G' + key] = HSYA(_HP,58%,85%)     HSYA(_HP,58%,85%)
    $lines['G' + key] = HSYA(_HP,58%,85%)     HSYA(_HP,58%,85%)
    $bolds['G' + key] = white                 white

    //                  ash leave          stat               metal
    $btns[ 'I' + key] = HSYA(_HP,12%,33%)  HSYA(_HP,35%,48%)  HSYA(_HP,35%,18%) // bg  +3%l
    $bgs[  'I' + key] = HSYA(_HH,12%,30%)  HSYA(_HH,35%,45%)  HSYA(_HH,35%,15%)
    $edges['I' + key] = HSYA(_HH,25%,50%)  HSYA(_HH,75%,20%)  HSYA(_HH,20%,40%) // bg +20%s -25%l
    $lines['I' + key] = HSYA(_HP,65%,40%)  HSYA(_HP,22%,10%)  HSYA(_HP,44%,90%) // pen and edge light
    $pens[ 'I' + key] = HSYA(_HP,25%,80%)  HSYA(_HP,75%,10%)  HSYA(_HP,44%,90%) // blacky or whity
    $bolds['I' + key] = white              black              white             // hardcore pen

    //                  O                  A                  F                  T                  Y                  W
    $btns[ 'D' + key] = HSYA(_HP,40%,20%)  HSYA(_HP,65%,27%)  HSYA(_HP,35%,48%)  HSYA(_HP,20%,63%)  HSYA(_HP,35%,73%)  HSYA(_HP,50%,80%) // bg  +3%l
    $bgs[  'D' + key] = HSYA(_HH,11%, 5%)  HSYA(_HH,58%,20%)  HSYA(_HH,35%,45%)  HSYA(_HH,20%,60%)  HSYA(_HH,35%,70%)  HSYA(_HH,35%,80%)
    $edges['D' + key] = HSYA(_HH,25%,40%)  HSYA(_HH,45%,40%)  HSYA(_HH,75%,20%)  HSYA(_HH,25%,25%)  HSYA(_HH,55%,42%)  HSYA(_HH,55%,40%) // bg +20%s -25%l
    $lines['D' + key] = HSYA(_HN,65%,40%)  HSYA(_HN,65%,40%)  HSYA(_HN,75%,20%)  HSYA(_HN,65%,25%)  HSYA(_HN,65%,42%)  HSYA(_HN,65%,40%) // pen and edge light
    $pens[ 'D' + key] = HSYA(_HP,25%,80%)  HSYA(_HP,65%,85%)  HSYA(_HP,22%,10%)  HSYA(_HP,65%,15%)  HSYA(_HP,65%,20%)  HSYA(_HP,65%,25%) // blacky or whity
    $bolds['D' + key] = white              white              black              black              black              black             // hardcore pen

    //                  O                  A                  F                  T                  Y                  W
    $btns[ 'N' + key] = HSYA(_HH,30%,45%)  HSYA(_HH,40%,36%)  HSYA(_HH,65%,27%)  HSYA(_HH,55%,27%)  HSYA(_HH,65%,27%)  HSYA(_HH,40%,20%) // bg   +7%l
    $bgs[  'N' + key] = HSYA(_HB,30%,40%)  HSYA(_HB,40%,30%)  HSYA(_HB,58%,20%)  HSYA(_HB,35%,15%)  HSYA(_HB,58%,10%)  HSYA(_HB,11%, 5%)
    $edges['N' + key] = HSYA(_HH,55%,72%)  HSYA(_HH,65%,62%)  HSYA(_HH,85%,52%)  HSYA(_HH,60%,47%)  HSYA(_HH,45%,40%)  HSYA(_HH,25%,40%) // pen + little lighten
    $lines['N' + key] = HSYA(_HN,55%,85%)  HSYA(_HN,65%,80%)  HSYA(_HN,85%,75%)  HSYA(_HN,60%,85%)  HSYA(_HN,75%,70%)  HSYA(_HN,85%,60%) // pen and edge light
    $pens[ 'N' + key] = HSYA(_HH,25%,85%)  HSYA(_HH,50%,80%)  HSYA(_HH,65%,75%)  HSYA(_HH,25%,85%)  HSYA(_HH,75%,70%)  HSYA(_HH,85%,60%) // blacky or whity
    $bolds['N' + key] = white              white              white              white              white              white             // hardcore pen
init()

Pr = 0.298912
Pg = 0.586611
Pb = 0.114478

// https://qiita.com/lookman/items/d518f16c897c94bc4e78
Y2L(HH,SS,YY)
  hueblock = unit(floor( HH / 60 ), '')

  a = unit(HH % 60, '') / 60
  if 0 == hueblock
    Yp = Pr + Pg * a
  if 1 == hueblock
    a = 1 - a
    Yp = Pg + Pr * a
  if 2 == hueblock
    Yp = Pg + Pb * a
  if 3 == hueblock
    a = 1 - a
    Yp = Pb + Pg * a
  if 4 == hueblock
    Yp = Pb + Pr * a
  if 5 == hueblock
    a = 1 - a
    Yp = Pr + Pb * a

  Y = 0.01 * unit(YY,'')
  S = 0.01 * unit(SS,'')
  C = 2 * S * (0.5 - Yp)
  if Y > (1 - C) / 2
    L = (Y + C) / (1 + C)
  else
    L = Y / (1 - C)
  LL = 100% * L

HSYA(HH,SS,YY,AA = 1)
  HH = HH % 360
  LL = Y2L(HH,SS,YY)
  hsla(HH,SS,LL,AA)

fix(col, SS, LL)
  lighten( saturate( col, SS ), LL )

Glowing(a, blur, col)
  b = 0 - a
  text-shadow: 0 0 0.5px col, a a blur col, 0 a blur col, b a blur col, a 0 blur col, b 0 blur col, a b blur col, 0 b blur col, b b blur col

Marker(size, col)
  background: linear-gradient(transparent size, col 0)


/*
  $t01 = HSYA(HH, 80%,  80%) // あざやか、派手な
  $t02 = HSYA(HH, 60%,  90%) // 明るい、陽気な
  $t03 = HSYA(HH, 60%,  80%) // 強い、情熱的な
  $t04 = HSYA(HH, 60%,  50%) // 深い、伝統的な
  $t05 = HSYA(HH, 40%,  95%) // 楽しい、軽い、さわやかな
  $t06 = HSYA(HH, 40%,  85%) // 柔らかい、穏やかな
  $t07 = HSYA(HH, 40%,  55%) // 鈍い、くすんだ
  $t08 = HSYA(HH, 40%,  35%) // 暗い、大人っぽい
  $t09 = HSYA(HH, 20%, 100%) // 柔らかい、やさしい
  $t10 = HSYA(HH, 20%,  85%) // 落ち着いた、おとなしい
  $t11 = HSYA(HH, 20%,  50%) // 地味な、濁った
  $t12 = HSYA(HH, 20%,  30%) // 重い、固い
  $t13 = HSYA(HH,  0 , 100%) // 清潔な、冷たい
  $t14 = HSYA(HH,  0 ,  50%) // 寂しい、しゃれた、
  $t15 = HSYA(HH,  0 ,   0%) // 高級な、フォーマルな
*/

palette($theme_id, $type, $idx)
  for key, $bgTheme in themes[$theme_id]
    palette_single($bgTheme, $type, $idx, key)

palette_bg($type, $idx, key)
  $bg = $bgs[$type+key][$idx]

palette_pen($type, $idx, key)
  $pen = $pens[$type+key][$idx]

palette_single($bgTheme, $type, $idx, key)
  dd = hues_d[key]
  $bg   = $bgs[  $type+key][$idx]
  $pen  = $pens[ $type+key][$idx]
  $line = $lines[$type+key][$idx]
  $bold = $bolds[$type+key][$idx]

  $edge = $edges[$type+key][$idx]
  $emboss = $edge
  $focus  = fix($edge, 0, -10)

  $btn   = $btns[$type+key][$idx]
  $bgHi  = $btn
  $off   = fix($bgHi, 20, -10)
  $on    = fix($bgHi, 20,  10)

  if white == $bold
    $shade = fix($bg,  0, -15)
  if black == $bold
    $shade = fix($bg,  0,  15)

  $baloon = $bg
  $hide   = mix($bg, $bold, 50%)

  if 'G' == $type
    $off   = transparent


  for theme in $bgTheme
    .{theme}.focus
      border-color:   $focus

      hr
      hr:after
      hr:before
        border-color: $focus

    .{theme}
      color:            $pen
      background-color: $bg
      border-color:     $edge

      .text.head:first-line
        color: $bold

      &.baloon
        border-color: $baloon

      hr
      hr:after
      hr:before
        border-color: $emboss

      blockquote
        border-color: $edge
      
      // SVG
      rect.move
      .move > rect
        stroke: $focus

      rect.cluster
      .cluster > rect
        stroke: $hide

      .edgePath
        > circle
        > path.fill
          fill: $line
        > path.path
          stroke: $line

    fieldset
      body &.{theme}
      .{theme} &
        color:            $pen
        border-color:     $edge

    input
    select
      body &.{theme}
      .{theme} &
        color:            $pen
        background-color: $off
        border-color:     $edge

    textarea
      body &.{theme}
      .{theme} &
        color:            $pen
        background-color: $bg
        border-color:     $edge

    b
    rt
    h1
    h2
    h3
    h4
    h5
    h6
      body &.{theme}
      .{theme} &
        color: $bold

    h1
    h2
      body &.{theme}
      .{theme} &
        Glowing(2.0px, 1.5px, $shade)

    h3
    h4
      body &.{theme}
      .{theme} &
        Glowing(1.5px, 1.0px, $shade)

    h5
    h6
      body &.{theme}
      .{theme} &
        Glowing(1.0px, 0.5px, $shade)

    thead tr
      body &.{theme}
      .{theme} &
        border-color: $focus

    th
      body &.{theme}
      .{theme} &
        color: $bold 
        border-color: $focus

    em
    strong
      body &.{theme}
      .{theme} &
        color: $pen
        text-emphasis-color: $pen
        text-decoration-color: $pen

    label.btn
    label
    label[title]
    label[cite]
      body &.{theme}
      .{theme} &
        background-color: $bgHi
        color: $bold 

    .ban
    abbr.btn
    abbr
    abbr[title]
    abbr[cite]
      body &.{theme}
      .{theme} &
        background-color: $emboss
        color: $bg

    .name
      body &.{theme}
      .{theme} &
        sup, sub, .badge
          background-color: $emboss
          color: $bg

    ins
      body &.{theme}
      .{theme} &
        color: $bold 
        text-emphasis-color: $line
        text-decoration-color: $line

    .note
      body &.{theme}
      .{theme} &
        color: $hide
        border-color: $off

    del
    legend
    .warn
    .name
    .date
      body &.{theme}
      .{theme} &
        color: $hide

    input[type=checkbox]
    input[type=radio]
      body &.{theme}
      .{theme} &
        color: $pen
        Marker(40%, $off)

    [title]
    [data-tooltip]
      body &.{theme}:before
      .{theme} &:before
      body &.{theme}:after
      .{theme} &:after
        text-shadow: none
        color: $pen
        background-color: $bgHi

    .bar
      body &.{theme}
      .{theme} &
        text-shadow: none
        color: $emboss
        background-color: $bg

    input[type=submit]
    input[type=button]
    button
    .btn
    [href]
      body &.{theme}
      .{theme} &
        color: $pen
        border-color:     $off
        background-color: $off

        &:link
          color: $pen

        &.visited
        &:visited
          color: $pen

        &.contain
          color: $bold

        &.hover
        &:hover
        &:focus
          border-color:  $focus

        &.nuxt-link-exact-active
        &.active
        &:active
        &:checked
          background-color: $on

    .btn
    [href]
      body &.{theme}
      .{theme} &
        sup, sub, .badge
          background-color: $emboss
          color: $bg

    s
      body &.{theme}
      .{theme} &
        text-emphasis-color: $line
        text-decoration-color: $line

    kbd
    code
      body &.{theme}
      .{theme} &
        color: $pen
        background-color: $bgHi

    [title]
    [cite]
      body &.{theme}
      .{theme} &
        color: $bold

    input
    select
    textarea
    fieldset
      body .focus &.{theme}
      .{theme}.focus &
        border-color: $focus

    .{theme} :hover
    .{theme} :focus
        border-color: $focus
