
.chrs
        border-top:    2px solid rgba(112,32,0,0.5)
        border-bottom: 3px solid rgba(112,32,0,0.5)

.contentframe
  .talk
    th
      .portrate
        border-top:    2px solid rgba(112,32,0,0.5)
        border-bottom: 3px solid rgba(112,32,0,0.5)

  .inframe
    background-repeat: repeat-y
    background-position: left
    background-attachment: local
    background-image: url("//api-project-54633717694.firebaseapp.com/images/bg/film-wa-L.png")

.filmline
  background-image: url("//api-project-54633717694.firebaseapp.com/images/bg/film-wa-border.png")

.filmend
  background-image: url("//api-project-54633717694.firebaseapp.com/images/bg/film-wa-end.png")
