themes = {
  say: {
    N01:    N01
    N02:    N02
    VLOVE:  N03 AIM
    LOVE:   N04 SPSAY PSAY
    N05:    N05
    N06:    N06
    VGRAVE: N07 VGSAY
    GRAVE:  N08 GSAY
    N09:    N09
    SWEAT:  SWEAT
    FOAM:   P09 FSAY
    ELSE:   P08 ELSE
    BRONZE: P07
    ALIEN:  P06 XSAY BSAY
    P05:    P05
    P04:    P04
    BROAD:  P03 SSAY MSAY
    VBROAD: P02 VSSAY VSAY
    LONE:   P01
    WOLF:   WSAY
  }
  note: {
    N01:    SN01
    N02:    SN02
    VLOVE:  SN03
    LOVE:   SN04
    N05:    SN05
    N06:    SN06
    VGRAVE: SN07
    GRAVE:  SN08
    N09:    SN09
    SWEAT:  SSWEAT
    FOAM:   SP09
    ELSE:   SP08
    BRONZE: SP07 hide
    ALIEN:  SP06
    P05:    SP05
    P04:    SP04
    BROAD:  SP03
    VBROAD: SP02 TSAY
    LONE:   SP01
    WOLF:   S000
  }

  world: {
    N01:    WN01
    N02:    WN02
    VLOVE:  WN03
    LOVE:   WN04
    N05:    WN05
    N06:    WN06
    VGRAVE: WN07
    GRAVE:  WN08 private
    N09:    WN09
    SWEAT:  WSWEAT
    FOAM:   WP09
    ELSE:   WP08
    BRONZE: WP07
    ALIEN:  WP06
    P05:    WP05
    P04:    WP04
    BROAD:  WP03 public
    VBROAD: WP02
    LONE:   WP01
    WOLF:   W000
  }
  metal: {
    N01:    MN01
    N02:    MN02
    VLOVE:  MN03
    LOVE:   MN04
    N05:    MN05
    N06:    MN06 ADMIN
    VGRAVE: MN07
    GRAVE:  MN08
    N09:    MN09 TITLE
    SWEAT:  MSWEAT
    FOAM:   MP09
    ELSE:   MP08 MAKER welcome-links
    BRONZE: MP07
    ALIEN:  MP06
    P05:    MP05
    P04:    MP04
    BROAD:  MP03
    VBROAD: MP02
    LONE:   MP01
    WOLF:   M000
  }

  stat: {
    LOVE:   LOVER
    GRAVE:  executed
    SWEAT:  HATER
    ELSE:   PIXI
    BRONZE: GURU
    ALIEN:  EVIL
    BROAD:  HUMAN live juror
    VBROAD: NONE DISH MOB mob visiter grave alive
    LONE:   LONEWOLF
    WOLF:   WOLF suicide victim cursed feared droop
  }
  leave: {
    ALIEN:  suddendead leave
  }
  header: {
    BRONZE: BRONZE footer header
    BROAD:  btns chrblank
    N09:    welcome-btns
  }
}

hues = {
  N01:    19 * 18deg
  N02:    18 * 18deg
  VLOVE:  17 * 18deg
  LOVE:   16 * 18deg
  N05:    15 * 18deg
  N06:    14 * 18deg +  3deg
  VGRAVE: 13 * 18deg +  6deg
  GRAVE:  12 * 18deg +  9deg
  N09:    11 * 18deg + 12deg
  SWEAT:  10 * 18deg +  9deg
  FOAM:    9 * 18deg +  6deg
  ELSE:    8 * 18deg +  3deg
  BRONZE:  7 * 18deg
  ALIEN:   6 * 18deg 
  P05:     5 * 18deg - 2deg
  P04:     4 * 18deg - 4deg
  BROAD:   3 * 18deg - 6deg
  VBROAD:  2 * 18deg - 3deg
  LONE:    1 * 18deg
  WOLF:    0
}


saturates = {
  N01:    105%
  N02:    105%
  VLOVE:  105%
  LOVE:   109%
  N05:    111%
  N06:    113%
  VGRAVE: 113%
  GRAVE:  110%
  N09:    105%
  SWEAT:   95%
  FOAM:    95%
  ELSE:    95%
  BRONZE:  95%
  ALIEN:   97%
  P05:     99%
  P04:    100%
  BROAD:  100%
  VBROAD: 100%
  LONE:   100%
  WOLF:   105%
}

lights = {
  N01:    105%
  N02:    105%
  VLOVE:  105%
  LOVE:   109%
  N05:    111%
  N06:    113%
  VGRAVE: 113%
  GRAVE:  110%
  N09:    105%
  SWEAT:   95%
  FOAM:    95%
  ELSE:    95%
  BRONZE:  95%
  ALIEN:   97%
  P05:     99%
  P04:    100%
  BROAD:  100%
  VBROAD: 100%
  LONE:   100%
  WOLF:   105%
}


HSLA(key,SS,LL,AA = 1, hue_offset = 0)
  HH = hues[key] + hue_offset
  if 30% < SS && 30% < LL && LL < 70%
    SS = SS * saturates[key] / 100
    LL = LL * lights[key]    / 100
  hsla(HH,SS,LL,AA)

Bold(a, blur, col)
  b = 0 - a
  text-shadow: a 0 blur col, b 0 blur col

Glowing(a, blur, col)
  b = 0 - a
  text-shadow: 0 0 0.5px col, a a blur col, 0 a blur col, b a blur col, a 0 blur col, b 0 blur col, a b blur col, 0 b blur col, b b blur col

Marker(size, col)
  background: linear-gradient(transparent size, col 0)

palette($themes, $backT)
  for key, $bgTheme in themes[$themes]
    palette_single($bgTheme, $backT, key)

palette_single($bgTheme, $backT, key)
  if pastel == $backT
    $fine =   HSLA(key,50%,75%,1,  12deg)
    $edge =   HSLA(key,50%,75%,1)
    $line =   HSLA(key,50%,75%,1, -12deg)
    $focus =  HSLA(key,75%,65%,1)

    $emboss = HSLA(key,60%,65%,1)
    $bgLow =  HSLA(key,50%,80%,1)
    $bg =     HSLA(key,75%,85%,1)
    $bgHi =   HSLA(key,50%,90%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,50%,95%,1)

    $penEmb = $bgHi
    $hide =   HSLA(key,  33%,55%,1)
    $pen =    HSLA(key,  33%,33%,1)
    $penHi =  HSLA(key,  33%,20%,1)

  if snow == $backT
    $fine =   HSLA(key,15%,75%,1,  12deg)
    $edge =   HSLA(key,15%,75%,1)
    $line =   HSLA(key,15%,75%,1, -12deg)
    $focus =  HSLA(key,25%,65%,1)

    $emboss = HSLA(key,15%,65%,1)
    $bgLow =  HSLA(key,15%,80%,1)
    $bg =     HSLA(key, 9%,85%,1)
    $bgHi =   HSLA(key,15%,90%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,15%,95%,1)

    $penEmb = $bgHi
    $hide =   HSLA(key,  33%,55%,1)
    $pen =    HSLA(key,  80%,33%,1)
    $penHi =  HSLA(key,  80%,20%,1)

  if light == $backT
    $fine =   HSLA(key,50%,50%,1,  12deg)
    $edge =   HSLA(key,50%,50%,1)
    $line =   HSLA(key,50%,50%,1, -12deg)
    $focus =  HSLA(key,75%,40%,1)

    $emboss = HSLA(key,40%,50%,1)
    $bgLow =  HSLA(key,50%,60%,1)
    $bg =     HSLA(key,35%,63%,1)
    $bgHi =   HSLA(key,50%,66%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,50%,80%,1)

    $penEmb = $bgHi
    $hide =   HSLA(key,  66%,35%,1)
    $pen =    HSLA(key,  66%,15%,1)
    $penHi =  HSLA(key,  66%, 0%,1)

  if white == $backT
    $fine =   HSLA(key,15%,50%,1,  12deg)
    $edge =   HSLA(key,15%,50%,1)
    $line =   HSLA(key,15%,50%,1, -12deg)
    $focus =  HSLA(key,25%,40%,1)

    $emboss = HSLA(key,15%,45%,1)
    $bgLow =  HSLA(key,15%,55%,1)
    $bg =     HSLA(key, 9%,63%,1)
    $bgHi =   HSLA(key,15%,80%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,15%,80%,1)

    $penEmb = $bgHi
    $hide =   HSLA(key,  33%,40%,1)
    $pen =    HSLA(key,  80%,15%,1)
    $penHi =  HSLA(key,  80%, 0%,1)

  if foot == $backT
    $fine =   HSLA(key,50%,50%,1,  12deg)
    $edge =   HSLA(key,50%,50%,1)
    $line =   HSLA(key,50%,50%,1, -12deg)
    $focus =  HSLA(key,30%,45%,1)

    $bgLow =  HSLA(key,40%,33%,1)
    $bg =     HSLA(key,35%,28%,1)
    $bgHi =   HSLA(key,66%,23%,1)
    $emboss = HSLA(key,75%,15%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,99%,10%,1)

    $penEmb = $bgLow
    $hide =   HSLA(key,  30%,40%,1)
    $pen =    HSLA(key,  20%,66%,1)
    $penHi =  HSLA(key,  15%,90%,1)

  if ash == $backT
    $fine =   HSLA(key,15%,50%,1,  12deg)
    $edge =   HSLA(key,15%,50%,1)
    $line =   HSLA(key,15%,50%,1, -12deg)
    $focus =  HSLA(key,25%,40%,1)

    $bgLow =  HSLA(key,15%,33%,1)
    $bg =     HSLA(key, 9%,28%,1)
    $bgHi =   HSLA(key,15%,23%,1)
    $emboss = HSLA(key,50%,15%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,99%,10%,1)

    $penEmb = $bgLow
    $hide =   HSLA(key,  20%,40%,1)
    $pen =    HSLA(key,  25%,75%,1)
    $penHi =  HSLA(key,  15%,90%,1)

  if black == $backT
    $fine =   HSLA(key,66%,40%,1,  12deg)
    $edge =   HSLA(key,66%,40%,1)
    $line =   HSLA(key,66%,40%,1, -12deg)
    $focus =  HSLA(key,80%,30%,1)

    $emboss = HSLA(key,30%,30%,1)
    $bgLow =  HSLA(key,50%,20%,1)
    $bg =     HSLA(key,35%,15%,1)
    $bgHi =   HSLA(key,99%,10%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,99%, 0%,1)

    $penEmb = $bgHi
    $hide =   HSLA(key,  30%,40%,1)
    $pen =    HSLA(key,  20%,66%,1)
    $penHi =  HSLA(key,  15%,90%,1)

  if metal == $backT
    $fine =   HSLA(key,15%,40%,1,  12deg)
    $edge =   HSLA(key,15%,40%,1)
    $line =   HSLA(key,15%,40%,1, -12deg)
    $focus =  HSLA(key,25%,30%,1)

    $emboss = HSLA(key,30%,30%,1)
    $bgLow =  HSLA(key,20%,18%,1)
    $bg =     HSLA(key,12%,12%,1)
    $bgHi =   HSLA(key,20%, 6%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,99%, 0%,1)

    $penEmb = $bgHi
    $hide =   HSLA(key,  20%,40%,1)
    $pen =    HSLA(key,  25%,75%,1)
    $penHi =  HSLA(key,  15%,90%,1)

  if night == $backT
    $fine =   HSLA(key,66%,40%,1,  12deg)
    $edge =   HSLA(key,66%,40%,1)
    $line =   HSLA(key,66%,40%,1, -12deg)
    $focus =  HSLA(key,80%,30%,1)

    $emboss = HSLA(key,50%,30%,1)
    $bgLow =  HSLA(key,50%,18%,1)
    $bg =     HSLA(key,35%,12%,1)
    $bgHi =   HSLA(key,99%, 6%,1)
    $off =    $bgLow
    $on =     $bgHi
    $shade =  HSLA(key,99%, 0%,1)

    $penEmb = $bgHi
    $hide =   HSLA(key,  30%,40%,1)
    $pen =    HSLA(key,  75%,66%,1)
    $penHi =  HSLA(key,  85%,90%,1)

  if grass == $backT
    $fine =   HSLA(key,50%,50%,1,  12deg)
    $edge =   HSLA(key,50%,50%,1)
    $line =   HSLA(key,50%,50%,1, -12deg)
    $focus =  HSLA(key,99%,50%,0.3)

    $emboss = HSLA(key,40%,35%,1)
    $bgLow =  HSLA(key,50%,50%,0.5)
    $bg =     HSLA(key,70%,30%,0.5)
    $bgHi =   HSLA(key,99%,20%,0.5)
    $off =    transparent
    $on =     HSLA(key,75%,70%,0.3)
    $shade =  HSLA(key,99%,20%,1)

    $penEmb = $bgHi
    $hide =   HSLA(key,  20%,40%,1)
    $pen =    HSLA(key,  25%,75%,1)
    $penHi =  HSLA(key,  15%,90%,1)

  $baloon = $bg
  @keyframes {theme}-pulse
    0%   { text-shadow: 2px 0 1px $bgHi, -2px 0 1px $bgHi }
    0%   { text-shadow: 0 2px 1px $bgHi, 0 -2px 1px $bgHi }


  for theme in $bgTheme
    .{theme}.focus
      border-color:   $focus

    .{theme}
      color:            $pen
      background-color: $bg
      border-color:     $edge

      .head:first-line
        color: $penHi

      &.baloon
        border-color: $baloon

      hr
      hr:after
      hr:before
        border-color: $emboss
        background-color: $bg

      blockquote
        border-color: $edge
      
      // mermaid
      .section.section1
      .section.section3
      .section.section5
      .section.section7
        fill: $bgLow
      .section.section0
      .section.section2
      .section.section4
      .section.section6
        fill: $bgHi

      .task.doneCrit0
      .task.doneCrit1
      .task.doneCrit2
      .task.doneCrit3
      .task.doneCrit4
      .task.doneCrit5
        fill: $bgLow
        stroke: $penHi

      .task.done0
      .task.done1
      .task.done2
      .task.done3
      .task.done4
      .task.done5
        fill: $bgLow
        stroke: $emboss

      .task.activeCrit0
      .task.activeCrit1
      .task.activeCrit2
      .task.activeCrit3
      .task.activeCrit4
      .task.activeCrit5
        fill: $bgHi
        stroke: $penHi

      .task.active0
      .task.active1
      .task.active2
      .task.active3
      .task.active4
      .task.active5
        fill: $bgHi
        stroke: $emboss

      .task.crit0
      .task.crit1
      .task.crit2
      .task.crit3
      .task.crit4
      .task.crit5
        fill: $emboss
        stroke: $penHi

      .task.task0
      .task.task1
      .task.task2
      .task.task3
      .task.task4
      .task.task5
        fill: $emboss
        stroke: $emboss

      rect.cluster
      .cluster > rect
        fill: $bg
        stroke: $hide
      text.labelText
      text.labelText > tspan
        fill: $hide

      .grid
        .tick > line
        .tick > text
        .domain
          stroke: $hide
          fill: $hide

      .cluster > text
      text.sectionTitle
      text.titleText
      text.loopText
        fill: $penHi

      .note
        fill: $bgHi
        stroke: $bgLow

      .label
        color: $pen
      .edgeLabel
        color: $pen
        background-color: $bgLow
      text.actor
      text.actor > tspan
      text.messageText
      text.messageText > tspan
      text.noteText
      text.noteText > tspan
        fill: $pen

      .messageLine0
      .messageLine1
      .edgePath > path.path
      line.loopLine
        stroke: $line

      polygon.labelBox
        fill: $emboss
        stroke: $line

      .edgePath rect.path
      .edgePath path.arrowheadPath
      marker
        fill: $line
      marker#svg-marker-arrow
        fill: $line
        stroke: $line

      .node > rect
      .node > circle
      .node > polygon
      line.actor-line
      .actor
        stroke: $fine
        fill: $bgHi
        

    input
    textarea
      body &.{theme}
      .{theme} &
        color:            $pen
        background-color: $bgHi
        border-color:     $edge
        :hover
        :focus
          border-color: $focus

    h1
    h2
    h3
    h4
    h5
    h6
      body &.{theme}
      .{theme} &
        color: $penHi

    h1
    h2
      body &.{theme}
      .{theme} &
        Glowing(2.0px, 1.5px, $shade)

    h3
    h4
      body &.{theme}
      .{theme} &
        Glowing(1.5px, 1.0px, $shade)

    h5
    h6
      body &.{theme}
      .{theme} &
        Glowing(1.0px, 0.5px, $shade)

    thead tr
      body &.{theme}
      .{theme} &
        border-color: $focus

    th
      body &.{theme}
      .{theme} &
        color: $penHi
        border-color: $focus

    b
    em
    strong
      body &.{theme}
      .{theme} &
        color: $pen
        text-emphasis-color: $penHi
        text-decoration-color: $penHi

    label
    rt
      body &.{theme}
      .{theme} &
        color: $penHi
        background-color: $bgHi

    abbr
      body &.{theme}
      .{theme} &
        background-color: $emboss
        color: $penEmb

    .name
    .date
      .{theme}.focus &
        color: $focus

    ins
      body &.{theme}
      .{theme} &
        color: $penHi
        text-emphasis-color: $focus
        text-decoration-color: $focus

    del
    .name
    .date
      body &.{theme}
      .{theme} &
        color: $hide

    input[type=checkbox]
    input[type=radio]
      body &.{theme}
      .{theme} &
        color: $pen
        Marker(40%, $off)

    [title]
    [data-tooltip]
      body &.{theme}:before
      .{theme} &:before
      body &.{theme}:after
      .{theme} &:after
        text-shadow: none
        color: $pen
        background-color: $bgHi

    .bar
      body &.{theme}
      .{theme} &
        text-shadow: none
        color: $pen
        background-color: $bgHi

    select
    button
    .btn
    [href]
      body &.{theme}
      .{theme} &
        color: $pen
        border-color:     $off
        background-color: $off

        &:hover
        &:focus
          border-color:  $focus

        &.nuxt-link-exact-active
        &.active
        &:checked
          background-color: $on
        &:visited
        &:link
          color: $penHi

    s
      body &.{theme}
      .{theme} &
        text-decoration-color: $focus
        text-emphasis-color: $focus

    kbd
    code
      body &.{theme}
      .{theme} &
        color: $pen
        background-color: $on

    [title]
    [cite]
      body &.{theme}
      .{theme} &
        color: $penHi
        border-color: $on

    input
    select
    button
    textarea
    .btn
    [href]
    [title]
    [cite]
      body .focus &.{theme}
      .{theme}.focus &
        border-color: $focus

    input
    select
    button
    textarea
    .btn
    .name
    [href]
      body &.{theme}
      .{theme} &
        sup, sub, abbr
          background-color: $emboss
          color: $penEmb

