
.contentframe
  .inframe
    background-repeat: repeat-y
    background-position: left
    background-attachment: local
    background-image: url("//images/bg/film-L.png")

.filmline
  background-image: url("//images/bg/film-border.png")

.filmend
  background-image: url("//images/bg/film-end.png")
