themes = {
  say: {
    N01:    N01
    N02:    N02
    VLOVE:  N03
    LOVE:   N04 PSAY
    N05:    N05
    N06:    N06
    VGRAVE: N07 VGSAY
    GRAVE:  N08 GSAY
    N09:    N09
    SWEAT:  SWEAT
    FOAM:   P09 FSAY
    ELSE:   P08 ELSE
    BRONZE: P07
    ALIEN:  P06 XSAY
    P05:    P05
    P04:    P04
    BROAD:  P03 SSAY MSAY
    VBROAD: P02 VSSAY
    LONE:   P01
    WOLF:   P00 N00 WSAY
  }
  note: {
    N01:    SN01
    N02:    SN02
    VLOVE:  SN03
    LOVE:   SN04 AIM
    N05:    SN05
    N06:    SN06
    VGRAVE: SN07
    GRAVE:  SN08
    N09:    SN09
    SWEAT:  SSWEAT
    FOAM:   SP09
    ELSE:   SP08
    BRONZE: SP07 hide
    ALIEN:  SP06
    P05:    SP05
    P04:    SP04
    BROAD:  SP03
    VBROAD: SP02 TSAY
    LONE:   SP01
    WOLF:   S000
  }

  announce: {
    N01:    WN01
    N02:    WN02
    VLOVE:  WN03
    LOVE:   WN04
    N05:    WN05
    N06:    WN06
    VGRAVE: WN07
    GRAVE:  WN08 
    N09:    WN09
    SWEAT:  WSWEAT
    FOAM:   WP09
    ELSE:   WP08
    BRONZE: WP07
    ALIEN:  WP06
    P05:    WP05
    P04:    WP04
    BROAD:  WP03
    VBROAD: WP02 public
    LONE:   WP01
    WOLF:   W000
  }
  world: {
    N01:    MN01
    N02:    MN02
    VLOVE:  MN03
    LOVE:   MN04
    N05:    MN05
    N06:    MN06 ADMIN
    VGRAVE: MN07
    GRAVE:  MN08
    N09:    MN09 TITLE
    SWEAT:  MSWEAT
    FOAM:   MP09
    ELSE:   MP08 MAKER
    BRONZE: MP07
    ALIEN:  MP06
    P05:    MP05
    P04:    MP04
    BROAD:  MP03
    VBROAD: MP02 private
    LONE:   MP01
    WOLF:   M000
  }

  stat: {
    LOVE:   LOVER
    GRAVE:  executed
    SWEAT:  HATER
    ELSE:   PIXI
    BRONZE: GURU
    ALIEN:  EVIL
    BROAD:  HUMAN live juror
    VBROAD: NONE DISH MOB mob visiter grave alive
    LONE:   LONEWOLF
    WOLF:   WOLF suicide victim cursed feared droop
  }
  leave: {
    N06:    DEL_M
    BROAD:  DEL_S
    ALIEN:  suddendead leave
  }
  grass: {
    BROAD:  title-bar
  }
  metal: {
    ELSE:   welcome-links
    ALIEN:  progress
    VBROAD: prologue
  }
  ash: {
    BRONZE: BRONZE footer header
    BROAD:  btns chrblank
    N09:    welcome-btns
  }
}

hues = {
  N01:    19 * 18deg - 2deg
  N02:    18 * 18deg - 1deg
  VLOVE:  17 * 18deg
  LOVE:   16 * 18deg
  N05:    15 * 18deg
  N06:    14 * 18deg
  VGRAVE: 13 * 18deg
  GRAVE:  12 * 18deg
  N09:    11 * 18deg
  SWEAT:  10 * 18deg
  FOAM:    9 * 18deg
  ELSE:    8 * 18deg - 1deg
  BRONZE:  7 * 18deg - 2deg 
  ALIEN:   6 * 18deg - 3deg
  P05:     5 * 18deg - 4deg
  P04:     4 * 18deg - 5deg
  BROAD:   3 * 18deg - 6deg
  VBROAD:  2 * 18deg - 5deg
  LONE:    1 * 18deg - 4deg
  WOLF:    0         - 3deg
}


saturates = {
  N01:    100%
  N02:    100%
  VLOVE:  100%
  LOVE:   100%
  N05:    105%
  N06:    110%
  VGRAVE: 110%
  GRAVE:  105%
  N09:    100%
  SWEAT:   90%
  FOAM:    95%
  ELSE:    95%
  BRONZE:  90%
  ALIEN:   95%
  P05:    100%
  P04:    100%
  BROAD:  100%
  VBROAD: 100%
  LONE:   100%
  WOLF:   100%
}

lights = {
  N01:    100%
  N02:    100%
  VLOVE:  100%
  LOVE:   100%
  N05:    103%
  N06:    112%
  VGRAVE: 112%
  GRAVE:  100%
  N09:     95%
  SWEAT:   90%
  FOAM:    95%
  ELSE:    93%
  BRONZE:  93%
  ALIEN:   95%
  P05:     97%
  P04:     97%
  BROAD:  100%
  VBROAD: 100%
  LONE:   100%
  WOLF:   100%
}


HSLA(key,SS,LL,AA = 1)
  HH = hues[key]
  SS = SS * saturates[key] / 100
  if 100% < SS
    SS = 100%
  if LL < 70% && 100% < lights[key]
    LL = LL * lights[key]  / 100
  
  hsla(HH,SS,LL,AA)

fix(col, SS, LL)
  lighten( saturate( col, SS ), LL )

Bold(a, blur, col)
  b = 0 - a
  text-shadow: a 0 blur col, b 0 blur col

Glowing(a, blur, col)
  b = 0 - a
  text-shadow: 0 0 0.5px col, a a blur col, 0 a blur col, b a blur col, a 0 blur col, b 0 blur col, a b blur col, 0 b blur col, b b blur col

Marker(size, col)
  background: linear-gradient(transparent size, col 0)


palette($themes, $backT)
  for key, $bgTheme in themes[$themes]
    palette_single($bgTheme, $backT, key)

palette_single($bgTheme, $backT, key)

  if snow == $backT
    $bold = HSLA(key,99%,15%,1)
    $bg   = HSLA(key,12%,80%,1)
    $edge = HSLA(key,20%,60%,1)

  if pastel == $backT
    $bold = HSLA(key,40%,15%,1)
    $bg   = HSLA(key,75%,88%,1)
    $edge = HSLA(key,66%,60%,1)


  if white == $backT
    $bold = HSLA(key,99%,15%,1)
    $bg   = HSLA(key,12%,60%,1)
    $edge = HSLA(key,20%,40%,1)

  if light == $backT
    $bold = HSLA(key,66%,15%,1)
    $bg   = HSLA(key,35%,66%,1)
    $edge = HSLA(key,66%,40%,1)


  if metal == $backT
    $bold = HSLA(key,40%,85%,1)
    $bg   = HSLA(key,12%, 9%,1)
    $edge = HSLA(key,20%,40%,1)

  if black == $backT
    $bold = HSLA(key,40%,85%,1)
    $bg   = HSLA(key,35%,15%,1)
    $edge = HSLA(key,66%,40%,1)

  if night == $backT
    $bold = HSLA(key,99%,85%,1)
    $bg   = HSLA(key,35%,15%,1)
    $edge = HSLA(key,66%,40%,1)


  if ash == $backT
    $bold = HSLA(key,75%,85%,1)
    $bg   = HSLA(key,12%,27%,1)
    $edge = HSLA(key,20%,40%,1)

  if foot == $backT
    $bold = HSLA(key,66%,85%,1)
    $bg   = HSLA(key,35%,35%,1)
    $edge = HSLA(key,66%,40%,1)

  if grass == $backT
    $bold = HSLA(key,66%,85%,1)
    $bg   = HSLA(key,75%,30%,0.5)
    $edge = HSLA(key,66%,40%,0.5)


  $pen    = mix($bg,   $bold, 15%)
  $hide   = mix($bg,   $bold, 40%) + 6deg
  $btn    = mix($bg,   $edge, 75%) - 6deg
  $emboss = mix($edge, $hide, 66%)
  $baloon = $bg
  $bgLow  = fix($bg,   0,  -3) +  6deg
  $bgHi   = fix($bg,   0,   3) +  6deg

  $off    = fix($btn,  5, -20)
  $on     = fix($btn, 20,   0)

  $shade  = fix($edge,40, -30) +  9deg
  $focus  = fix($edge,30, -10)
  $edge   = $edge              -  6deg
  $fine   = fix($edge, 0,   0) + 12deg
  $line   = fix($edge, 0,   0) - 12deg


  $pattern1 = pastel snow light white
  $pattern2 = black night
  $pattern3 = foot ash metal

  if grass == $backT
    $off   = transparent

  if $backT in $pattern1
    $off   = fix($off, 0,  15)
    $on    = fix($on,  0,  15)
    $shade = fix($edge,0,  40) + 9deg

  if $backT in $pattern3
    $off   = fix($off, 0,   5)
    $on    = fix($on,  0,   5)

  @keyframes {theme}-pulse
    0%   { text-shadow: 2px 0 1px $bgHi, -2px 0 1px $bgHi }
    0%   { text-shadow: 0 2px 1px $bgHi, 0 -2px 1px $bgHi }


  for theme in $bgTheme
    .{theme}.focus
      border-color:   $focus

    .{theme}
      color:            $pen
      background-color: $bg
      border-color:     $edge

      .head:first-line
        color: $bold 

      &.baloon
        border-color: $baloon

      hr
      hr:after
      hr:before
        border-color: $emboss
        background-color: $bg

      blockquote
        border-color: $edge
      
      // mermaid
      .section.section1
      .section.section3
      .section.section5
      .section.section7
        fill: $bgLow
      .section.section0
      .section.section2
      .section.section4
      .section.section6
        fill: $bgHi

      .task.doneCrit0
      .task.doneCrit1
      .task.doneCrit2
      .task.doneCrit3
      .task.doneCrit4
      .task.doneCrit5
        fill: $bgLow
        stroke: $bold 

      .task.done0
      .task.done1
      .task.done2
      .task.done3
      .task.done4
      .task.done5
        fill: $bgLow
        stroke: $emboss

      .task.activeCrit0
      .task.activeCrit1
      .task.activeCrit2
      .task.activeCrit3
      .task.activeCrit4
      .task.activeCrit5
        fill: $bgHi
        stroke: $bold 

      .task.active0
      .task.active1
      .task.active2
      .task.active3
      .task.active4
      .task.active5
        fill: $bgHi
        stroke: $emboss

      .task.crit0
      .task.crit1
      .task.crit2
      .task.crit3
      .task.crit4
      .task.crit5
        fill: $emboss
        stroke: $bold 

      .task.task0
      .task.task1
      .task.task2
      .task.task3
      .task.task4
      .task.task5
        fill: $emboss
        stroke: $emboss

      rect.cluster
      .cluster > rect
        fill: $bg
        stroke: $hide
      text.labelText
      text.labelText > tspan
        fill: $hide

      .grid
        .tick > line
        .tick > text
        .domain
          stroke: $hide
          fill: $hide

      .cluster > text
      text.sectionTitle
      text.titleText
      text.loopText
        fill: $bold 

      .note
        fill: $bgHi
        stroke: $bgLow

      .label
        color: $pen
      .edgeLabel
        color: $pen
        background-color: $bgLow
      text.actor
      text.actor > tspan
      text.messageText
      text.messageText > tspan
      text.noteText
      text.noteText > tspan
        fill: $pen

      .messageLine0
      .messageLine1
      .edgePath > path.path
      line.loopLine
        stroke: $line

      polygon.labelBox
        fill: $emboss
        stroke: $line

      .edgePath rect.path
      .edgePath path.arrowheadPath
      marker
        fill: $line
      marker#svg-marker-arrow
        fill: $line
        stroke: $line

      .node > rect
      .node > circle
      .node > polygon
      line.actor-line
      .actor
        stroke: $fine
        fill: $bgHi

    fieldset
      body &.{theme}
      .{theme} &
        color:            $pen
        border-color:     $edge

    input
    select
    textarea
      body &.{theme}
      .{theme} &
        color:            $pen
        background-color: $bgHi
        border-color:     $edge
        :hover
        :focus
          border-color: $focus

    h1
    h2
    h3
    h4
    h5
    h6
      body &.{theme}
      .{theme} &
        color: $bold 

    h1
    h2
      body &.{theme}
      .{theme} &
        Glowing(2.0px, 1.5px, $shade)

    h3
    h4
      body &.{theme}
      .{theme} &
        Glowing(1.5px, 1.0px, $shade)

    h5
    h6
      body &.{theme}
      .{theme} &
        Glowing(1.0px, 0.5px, $shade)

    thead tr
      body &.{theme}
      .{theme} &
        border-color: $focus

    th
      body &.{theme}
      .{theme} &
        color: $bold 
        border-color: $focus

    b
    em
    strong
      body &.{theme}
      .{theme} &
        color: $pen
        text-emphasis-color: $bold 
        text-decoration-color: $bold 

    label
    rt
      body &.{theme}
      .{theme} &
        background-color: $bgHi
        color: $bold 

    .ban
    abbr
    abbr[cite]
      body &.{theme}
      .{theme} &
        background-color: $emboss
        color: $bg

    .name
      body &.{theme}
      .{theme} &
        sup, sub
          background-color: $emboss
          color: $bg

    ins
      body &.{theme}
      .{theme} &
        color: $bold 
        text-emphasis-color: $line
        text-decoration-color: $line

    del
    legend
    .warn
    .name
    .date
      body &.{theme}
      .{theme} &
        color: $hide

    input[type=checkbox]
    input[type=radio]
      body &.{theme}
      .{theme} &
        color: $pen
        Marker(40%, $off)

    [title]
    [data-tooltip]
      body &.{theme}:before
      .{theme} &:before
      body &.{theme}:after
      .{theme} &:after
        text-shadow: none
        color: $pen
        background-color: $bgHi

    .bar
      body &.{theme}
      .{theme} &
        text-shadow: none
        color: $pen
        background-color: $edge

    input[type=submit]
    input[type=button]
    button
    .btn
    [href]
      body &.{theme}
      .{theme} &
        color: $pen
        border-color:     $off
        background-color: $off

        &:hover
        &:focus
          border-color:  $focus

        &.nuxt-link-exact-active
        &.active
        &:checked
          background-color: $on
        &:visited
        &:link
          color: $bold 

    .btn
    [href]
      body &.{theme}
      .{theme} &
        sup, sub
          background-color: $on
          color: $off

        &.nuxt-link-exact-active
        &.active
        &:checked
          sup, sub
            background-color: $off
            color: $on

    s
      body &.{theme}
      .{theme} &
        text-emphasis-color: $line
        text-decoration-color: $line

    kbd
    code
      body &.{theme}
      .{theme} &
        color: $pen
        background-color: $bgHi

    [title]
    [cite]
      body &.{theme}
      .{theme} &
        color: $bold 
        border-color: $on

    input
    select
    button
    textarea
    fieldset
    .btn
    [href]
    [title]
    [cite]
      body .focus &.{theme}
      .{theme}.focus &
        border-color: $focus


