
.contentframe
  .inframe
    background-repeat: repeat-y
    background-position: left
    background-attachment: local
    background-image: url("//api-project-54633717694.firebaseapp.com/images/bg/film-L.png")

.filmline
  background-image: url("//api-project-54633717694.firebaseapp.com/images/bg/film-border.png")

.filmend
  background-image: url("//api-project-54633717694.firebaseapp.com/images/bg/film-end.png")
