zoom($zoom)
  $size = 1 / $zoom

  $item_width       = $size * 20px
  $item_font_size   = $size *  6px
  $item_half_height = $size * 25px
  $item_full_height = $size * 45px

  $margin_top       = $size *  6px
  $margin_btm       = $size *  2px

  $base_width       = $item_width + 2px

  .tap
    i
      font-size:  $item_width

  .toastframe
  .sideframe
    .icons
      width: $base_width
      .item-half
        width:        $item_width
        height:       $item_half_height
        font-size:    $item_font_size
        i
          font-size:  $item_width
      .item
        width:        $item_width
        height:       $item_full_height
        font-size:    $item_font_size
        i
          font-size:  $item_width
      .mdi::before
        margin: $margin_top auto $margin_btm auto

